* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Georgia, serif;
}

body {
  background-color: #f7f7f7;
  padding: 50px;
}
.header {
  text-align: center;
  margin-bottom: 50px;
}

.header h1 {
  font-size: 40px;
  color: #15936f;
  margin-bottom: 10px;
}

.header p {
  font-size: 18px;
  color: #444;
}

.resume {
  display: flex;
  justify-content: center;
  gap: 60px;
}

.column {
  width: 420px;
  position: relative;
  padding-left: 30px;
  border-left: 2px solid #ddd;
}

.column h2 {
  color: #15936f;
  font-size: 18px;
  margin-bottom: 20px;
}

.timeline-box {
  background-color: white;
  padding: 22px;
  margin-bottom: 25px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.08);
  position: relative;
  transition: 0.3s;
  height: 140px;
}

.timeline-box::before {
  content: "";
  position: absolute;
  left: -39px;
  top: 25px;
  width: 12px;
  height: 12px;
  background-color: #16b88e;
  border-radius: 50%;
}

.timeline-box:hover {
  transform: translateY(-5px);
  box-shadow: 0 0 18px rgba(0, 0, 0, 0.18);
}

.timeline-box span {
  color: #15936f;
  font-size: 12px;
  font-weight: bold;
}

.timeline-box h3 {
  margin: 8px 0;
  font-size: 16px;
  color: #222;
}

.timeline-box p {
  font-size: 13px;
  line-height: 1.5;
  color: #444;
}

@media (max-width: 900px) {
  .resume {
    flex-direction: column;
    align-items: center;
  }

  .column {
    width: 100%;
  }
}